.login-container {
  display: flex;
  justify-content: center;
}

.login-wrapper {
  width: 380px;
  max-width: 100%;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-title {
  text-align: center;
  margin-bottom: 10px;
}
